
<div class="h-screen bg-gray-100 flex justify-center">
    <div class="py-6 px-8  mt-20 bg-white rounded shadow-xl" style="height:fit-content;width: 80%;">
      <form action=""  [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div class="mb-6">
          <label for="name" class="block text-gray-800 font-bold">Name:</label>
          <input type="text" name="name" id="name" placeholder="Name of product" class="w-full border border-gray-300 py-2 pl-3 rounded mt-2 outline-none focus:ring-indigo-600 :ring-indigo-600" 
          formControlName="name" 
          />
        </div>

        <div>
          <label for="descriptionn" class="block text-gray-800 font-bold"
         
          >Description:</label>
          <input type="text" name="email" id="email" placeholder="Description of product" class="w-full border border-gray-300 py-2 pl-3 rounded mt-2 outline-none focus:ring-indigo-600 :ring-indigo-600"
          formControlName="description" />

       
        </div>
        <div>
            <label for="image" class="block text-gray-800 font-bold">price:</label>
            <input type="text" name="email" id="email" placeholder="price" class="w-full border border-gray-300 py-2 pl-3 rounded mt-2 outline-none focus:ring-indigo-600 :ring-indigo-600"
            formControlName="price"
            />
  
            <!-- <a href="#" class="text-sm font-thin text-gray-800 hover:underline mt-2 inline-block hover:text-indigo-600">Forget Password</a> -->
          </div>
        <div>
            <label for="image" class="block text-gray-800 font-bold">image URL:</label>
            <input type="text" name="email" id="email" placeholder="Image URL" class="w-full border border-gray-300 py-2 pl-3 rounded mt-2 outline-none focus:ring-indigo-600 :ring-indigo-600"
            formControlName="image"
            />
  
            <!-- <a href="#" class="text-sm font-thin text-gray-800 hover:underline mt-2 inline-block hover:text-indigo-600">Forget Password</a> -->
          </div>
        

          <div class=" flex flex-row-reverse mt-2">
            
            <button mat-raised-button color="primary" *ngIf="editMode" (click)="updateProfile()" [disabled]="!validForm" [routerLink]="'/home'">Update</button>
            <button mat-raised-button color="accent" *ngIf="!editMode " [disabled]="!validForm"(click)="addProduct()" [routerLink]="'/home'">Add</button>
        </div>
      </form>
    </div>
  </div>
<mat-card>
   
</mat-card>