
  <mat-toolbar id="mainToolbar" color="primary">
    <button mat-icon-button  (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
          menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
          close
      </mat-icon>
  </button>
  
    ThinkBridge
    
    <span class="toolbar-spacer"></span>
    <mat-icon
      class="toolbar-icon"
      matBadge="8"
      matBadgePosition="after"
      matBadgeColor="accent"
    >notifications</mat-icon>
  </mat-toolbar>
  <mat-sidenav-container>

    <mat-sidenav class="mat-elevation-z8" #sidenav="matSidenav" >
          <!-- <div calss="flex flex-row-reverse">
            <button mat-icon-button  (click)="sidenav.toggle()">
              <mat-icon *ngIf="!sidenav.opened">
                  menu
              </mat-icon>
              <mat-icon *ngIf="sidenav.opened">
                  close
              </mat-icon>
          </button>
          </div> -->
   
      <!-- <img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" />
   -->
  <h4 class="name">John Smith</h4>
  <p class="designation">Software Engineer</p>
  
  <mat-divider></mat-divider>
      <button mat-button class="menu-button">
          <mat-icon>home</mat-icon>
          <span>Home</span>
      </button>
      <button mat-button class="menu-button">
          <mat-icon>person</mat-icon>
          <span>Profile</span>
      </button>
      <button mat-button class="menu-button">
          <mat-icon>info</mat-icon>
          <span>About</span>
      </button>
  
      <mat-divider></mat-divider>
  
      <button mat-button class="menu-button">
          <mat-icon>help</mat-icon>
          <span>Help</span>
      </button>
  
  </mat-sidenav>
      <mat-sidenav-content>
       
        <router-outlet></router-outlet>
     <!-- Code for mobile view -->
     <!-- <div class="flex items-center ..." style="justify-content: center;">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Button
      </button>
    </div> -->
    
      </mat-sidenav-content>
  </mat-sidenav-container>
 